h3 {
  font-size: 0.7rem;
  display: block;
  font-family: "Montserrat", sans-serif;
  background-color: #051c33;
  color: #fff;
  border-radius: 2px;
  padding: 3px 0px;
  width: 80px;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
}
